<app-menu></app-menu>
<div class="adduser">
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="champ">
            <input type="text " class="form-control " placeholder="Prenom" formControlName="prenom">
            <i class="fas fa-user-secret "></i>
        </div>
        <div class="champ ">
            <input type="text " class="form-control " placeholder="Nom" formControlName="nom">
            <i class="fas fa-user "></i>
        </div>
        <div class="champ ">
            <input type="text " class="form-control " placeholder="Username" formControlName="username">
            <i class="fas fa-address-card "></i>
        </div>
        <div class="champ ">
            <input type="text " class="form-control " placeholder="Email" formControlName="email">
            <i class="fas fa-lock "></i>
        </div>
        <div class="champ ">
            <input type="text " class="form-control " placeholder="Password " formControlName="password">
            <i class="fas fa-lock "></i>
        </div>
        <div class="input2 ">
            <label for="role " class="label ">Role</label>
            <select class="form-control " id="sel1 " formControlName="role">
                  <option  *ngFor="let role of role"  [value]="role.id">{{ role.libelle }}</option>
                </select>
        </div>
        <button class="btn btn-success ">Creer utilisateur</button>

    </form>
</div>