.mat-stepper-horizontal {
    margin-top: 250px;
    margin-left: 20%;
    position: absolute;
    left: 20%;
    background-color: gray;
    color: black!important;
}

.mat-form-field {
    margin-top: 16px;
    color: black;
}