<app-menu></app-menu>
<div class="row contenu">
    <!-- Datatables -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <flash-messages></flash-messages>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sélectionner l'utilisateur<span class="badge badge-pill badge-primary">deuxiéme étape</span></h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>Profil</th>
                            <th>Prenom </th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let user of users| filter:query| paginate: { itemsPerPage: 6, currentPage: p } ">
                        <tr>
                            <img [src]="getImage(user)">
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.nom }}</td>
                            <td><button name="" (click)="affecter(user.id)" class="btn btn-primary">Suivant</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>



</div>